
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.menu-container {
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App-link {
    color: #61dafb;
}

.main-menu {
    padding: 20px;
    margin-top: 20px;
    background-color: #61dafb;
    border-radius: 5px;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
}

.main-menu__option {
    width: 200px;
    font-weight: bold;
}

.icon {
    width: 200px;
}

.icons {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    bottom: 0;
    right: 0;
}

.help {
    position: absolute;
    top: 10%;
    right: 5%;
}